body {

    margin: 0;

    background: #2b0d0d;

    color: #f7e7df;

    font-family: Georgia, serif;
}

.navbar {

    display: flex;

    justify-content: space-between;

    padding: 20px 50px;

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {

    font-size: 28px;

    font-weight: bold;

    color: #ffb7a5;
}

.nav-links {

    display: flex;

    gap: 20px;
}

.nav-links a {

    color: #f7e7df;

    text-decoration: none;
}