*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:
    radial-gradient(circle at top left,#3b0000,#120000 60%);

    color:#f7d8cb;

    font-family:Georgia, serif;

    min-height:100vh;

    overflow-x:hidden;
}

.bg-blur{
    position:fixed;

    width:700px;
    height:700px;

    background:#ff5e3a22;

    filter:blur(140px);

    top:-200px;
    left:-200px;

    z-index:-1;
}

.navbar{
    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:30px 60px;
}

.logo{
    text-decoration:none;

    color:#fff2ea;

    font-size:2rem;

    letter-spacing:1px;
}

.logo span{
    color:#ff9c7a;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:#cfa899;

    text-decoration:none;

    text-transform:lowercase;

    transition:0.3s;
}

.nav-links a:hover{
    color:#ffffff;
}