body{
    background:black;
    color:lime;
    font-family:monospace;
    text-align:center;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

a{
    color:lime;
    margin-left:10px;
}

form{
    margin-top:40px;
}

input{
    padding:10px;
    margin:10px;
    background:black;
    color:lime;
    border:1px solid lime;
}

button{
    padding:10px 20px;
    background:lime;
    border:none;
    cursor:pointer;
}

.auth-box{
    width:300px;
    margin:auto;
    margin-top:100px;
}

.svg-box{
    margin-top:40px;
}