<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}GlyphForge{% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css') }}">

    {% block extra_css %}{% endblock %}

</head>

<body>

    <div class="bg-blur"></div>

    <nav class="navbar">

        <a href="/" class="logo">
            Glyph<span>Forge</span>
        </a>

        <div class="nav-links">

            {% if session.get("user") %}

                <a href="/">home</a>
                <a href="/logout">logout</a>

            {% else %}

                <a href="/login">login</a>
                <a href="/signup">signup</a>

            {% endif %}

        </div>

    </nav>

    <main>

        {% block content %}{% endblock %}

    </main>

</body>

</html>