{% extends "base.html" %}

{% block title %}
Login — GlyphForge
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-box">

        <h1>
            Welcome Back
        </h1>

        <p>
            Enter your creative workspace.
        </p>

        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <a href="/signup">
            Create account
        </a>

    </div>

</section>

<style>

.auth-page{
    width:100%;
    min-height:80vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-box{
    width:450px;

    padding:50px;

    border:1px solid #ffffff15;

    background:#ffffff08;

    backdrop-filter:blur(20px);

    border-radius:24px;
}

.auth-box h1{
    font-size:4rem;
    margin-bottom:10px;
}

.auth-box p{
    color:#c8a99d;
    margin-bottom:40px;
}

.auth-box form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.auth-box input{
    padding:18px;

    border:none;

    border-radius:14px;

    background:#ffffff10;

    color:white;

    font-size:1rem;
}

.auth-box button{
    padding:18px;

    border:none;

    border-radius:14px;

    background:#ff8d6b;

    color:white;

    font-size:1rem;

    cursor:pointer;
}

.auth-box a{
    display:block;

    margin-top:20px;

    color:#ffb59f;

    text-decoration:none;
}

.error{
    margin-bottom:20px;
    color:#ff9f9f;
}

</style>

{% endblock %}