{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-card">

        <h1>Welcome Back</h1>

        <p>Enter your creative workspace.</p>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        {% if error %}

            <p>{{ error }}</p>

        {% endif %}

        <a href="/signup">
            Create account
        </a>

    </div>

</section>

{% endblock %}